.chat {
  background-color:#1B1A17;
  box-shadow: 0px 3px 2px 0px #00000033, 0px 2px 2px 0px #00000024, 0px 2px 4px 0px #0000001F;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  min-width: 25vw;
  min-height: 100%;
  padding: 20px;
  margin-left:20px;
}

.chat_form {
  background-color:#1B1A17;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.chat_form_text {
  background-color:#464657;
  color:#F0E3CA;
  font-weight: 600;
  font-size: 18px;
  border-radius: 18px;
  padding:10px;
  margin-bottom: 10px;
  resize: none;
  outline: none;
  border-color: inherit;
  border-style: solid 2px;
  transition: border-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
  
.chat_form_text:hover, .chat_form_text:focus {
  border-color: #A35709;
}
  
.chat_text {
  background-color:#464657;
  color:#F0E3CA;
  font-weight: 600;
  font-size: 18px;
  border-radius: 18px;
  padding:10px;
  margin-bottom: 10px;
  resize: none;
  outline: none;
  height:465px;
}
  
.chat_button {
  cursor: pointer;
  padding-left:10px;
  padding-right:10px;
  padding-top:5px;
  padding-bottom:5px;
  background-color:#A35709;
  color:#F0E3CA;
  width: fit-content;
  font-weight: 600;
  font-size: 18px;
  border-radius: 22px;
  transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  margin-left: auto;
}
  
.chat_button:hover, .chat_button:focus {
  background-color:#FF8303;
}