.header {
  position: fixed;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 22px;
  box-shadow: 0px 3px 2px 0px #00000033, 0px 2px 2px 0px #00000024, 0px 2px 4px 0px #0000001F;
  display: flex;
  background-color:#1B1A17;
  padding: 10px;
}

.logo {
  height: 45px;
  width: 45px;
  margin-right: 20px;
  margin-left: 40px;
}

.title {
  font-weight: 600;
  font-size: 22px;
}

.title_uni {
  color:#F0E3CA;
}

.title_board {
  color:#A35709;
}