/* #A35709 - цвет кнопок, бордеров */
/* #FF8303 - цвет фокуса кнопок, бордеров */
/* #F0E3CA - цвет текста */
/* #282830 - цвет фона экрана */
/* #1B1A17 - цвет секции */
/* #242320 - цвет полей */
/* 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001F - Тень */

.container {
  position: relative;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #282830;
}